@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chakra+Petch:wght@700&display=swap');
* {
  font-family: 'Prompt', sans-serif;
}
.bg_light{
  padding-bottom: 5rem;
  background-image: url('./images/bg_light.svg');
  background-size: cover;
}
.bg_dark{
  padding-bottom: 5rem;
  background-image: url('./images/bg_dark.svg');
  background-size: cover;
}

.card_dark {
  background-color: #211D3B !important;
  -webkit-box-shadow: -12px 11px 3px -7px rgba(255, 255, 255, 1);
  -moz-box-shadow: -12px 11px 3px -7px rgba(255, 255, 255, 1);
  box-shadow: -12px 11px 3px -7px rgba(255, 255, 255, 1);
  transition: 0.4s ease-in-out;
}
.card_light {
  background-color: #FFFFFF !important;
  -webkit-box-shadow: -12px 11px 3px -7px #211D3B ;
  -moz-box-shadow: -12px 11px 3px -7px #211D3B ;
  box-shadow: -12px 11px 3px -7px #211D3B ;
  transition: 0.4s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.title_text_dark {
  text-shadow: -3px 1px 2px rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color:#211D3B;
}
.title_text_light {
  text-shadow: -3px 1px 2px rgba(66, 68, 90, 1);
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color:#F3F3F3;
}

/* Pagination */

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 3rem;
  gap: 5px;
}
ul.pagination li a {
  text-decoration: none;
}


.pagination .page_num_dark {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  color:  #211D3B;
}
.pagination .page_num_light {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  color: #F3F3F3;
}

.pagination .page_num_dark:hover {
  background-color: #211D3B;
  color: #F3F3F3;
}
.pagination .page_num_light:hover {
  background-color: #211D3B;
}

.pagination .page_active_light {
  background-color: #211D3B;
}
.pagination .page_active_dark {
  background-color: #211D3B;
  color: #F3F3F3;
}
/* Filter Button */
.filter-container button{
margin-top: 2rem;
margin-right: 0.5rem;
min-width: 5rem;
padding: 0.5rem 1rem;
background: white;
color: rgb(65, 98, 168);
border-radius: 1rem;
border: 2px solid rgb(65, 98, 168);
font-weight: bold;
cursor: pointer;
}
button.active{
  background: rgb(65, 98, 168);
  color: white;
}
.toggle_parent {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 1.8rem;
  border-radius: 2rem;
  position: absolute;
  margin-right: 4rem;
  transition: all 0.6s ease-in-out;
}
.toggle_button {
  position: relative;
  border-radius: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1px 0 1px 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Media Queries */

@media all and (max-width:500px){
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap: 1px;
  }
  .pagination .page_num {
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }
}

.logo {
  margin-top: 1rem;
  width: 6rem;
  height: 5rem;
 }