@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


* {
  font-family: 'Prompt', sans-serif;
}
.card {
  -webkit-box-shadow: -1px 7px 8px -3px rgba(66, 68, 90, 1);
-moz-box-shadow: -1px 7px 8px -3px rgba(66, 68, 90, 1);
box-shadow: -1px 7px 8px -3px rgba(66, 68, 90, 1);
}
.App {
  background-image: url("./image/bg.jpg");
  background-size:contain;
  margin: 0;
}